{% extends 'layout.html' %}

{% block title %}
    To Do List
{% endblock %}

{% block content %}
    <h1>To Do List</h1>
    <form method="POST">
        {% csrf_token %}
        <input type="text" name="name" placeholder="Add new task">
        <input type="textarea" name="description" placeholder="Describe your task">
        <button type="submit">Add Task</button>
    </form>

    <h2>List of Tasks</h2>
    <ul>
        {% for task in tasks %}
            {% if not task.completed %}
                <li>{{ task.date_started|date:"Y-m-d" }} - {{ task.name }} - {{ task.description }} - <a href="{% url 'complete_task' task.id %}">Complete</a></li>
            {% endif %}
        {% empty %}
            <li>No Tasks Available</li>
        {% endfor %}
    </ul>
    

    <a href="completed">See tasks you completed here</a>

{% endblock %}